body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
}

.job-details {
  background-color: white;
}

.posting-age {
  color: #1fc76a;
}

.subtitle {
  font-size: x-small;
}

.header {
  font-size: small;
}

.job-title {
  font-size: small;
}

.role-tag-div > .badge {
  color: #1fc76a;
  width: max-content;
  background-color: #DDF7E9 !important;
}

.logo-container {
  width: 10%;
}

.logo {
  width: 100%;
}

.last-row {
  overflow: hidden;
  text-overflow: ellipsis;
}



@media only screen and (max-width: 785px) {
  .job-details {
      margin-right: 2%;
  }
  .row {
    width: fit-content !important;
  }

}



